{% extends "layout.html" %}
{% block content %}

<div class="details container">
    <h2 class="detailsHeading">Order Details</h2>
    <table class="detailstable table table-hover">
        <tbody>
            <tr>
                <th style="font-size: 2rem;">First Name</th>
                <td style="font-size: 2rem;">{{ order.first_name }}</td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Last Name</th>
                <td style="font-size: 2rem;">{{ order.last_name }}</td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Products</th>
                <td style="font-size: 2rem;">
                    <ul style="list-style: none; display: flex; flex-direction: row; gap: 2rem; margin: 0; padding: 0; ">
                        {% for item in order.order_items %}
                        <li style="font-size: 2rem;">
                            {{ item.product_name }} <span style="font-size: 2rem; color: gray;">x</span>  {{ item.quantity }} = 
                            <span style="color: green; font-size: 2rem;">{{ item.total_price }}$</span>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Total Quantity</th>
                <td style="font-size: 2rem;">{{ total_quantity }}</td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Total Price</th>
                <td style="font-size: 2rem;">{{ order.total_order_price }} $</td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Address</th>
                <td style="font-size: 2rem;">{{ order.address }}</td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Pesel</th>
                <td style="font-size: 2rem;">{{ order.pesel }}</td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Contact</th>
                <td style="font-size: 2rem;">{{ order.contact }}</td>
            </tr>
            <tr>
                <th style="font-size: 2rem;">Date Added</th>
                <td style="font-size: 2rem;">{{ order.date_added }}</td>
            </tr>
        </tbody>
    </table>
    <div class="bttns" style="display: flex; flex-direction: row; gap: 1rem; margin-top: 2rem;">
        <a style="font-size: 2rem;" href="{{ url_for('customers') }}" class="btn btn-warning">Back to Orders</a>
        <a style="font-size: 2rem;" type="button" class="btn btn-danger" onclick="openModal()">Delete</a>
        <a style="font-size: 2rem;" href="{{ url_for('download_pdf', order_id=order.id) }}" class="btn btn-info">Download PDF&#x2197;</a>
    </div>
</div>
    
    <div id="confirmDeleteModal" class="card text-white bg-primary mb-3" style="height: 35vh; width: 30vw; display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;">
        <div class="card-header" style="font-size: 1.4rem; display: flex; justify-content: space-between; align-items: center;">
            <span>Confirm</span>
            <button type="button" class="close" aria-label="Close" onclick="closeModal()" style="background: none; border: none; color: white; font-size: 1.6rem;">
                &times;
            </button>
        </div>
        <div class="card-body" style="padding: 2rem; display: flex; flex-direction: column; justify-content: space-between;">
            <div>
                <h4 class="card-title" style="font-size: 4.3rem;">Wait!</h4>
                <p class="card-text" style="font-size: 3rem;">Are you sure about deleting this order?</p>
            </div>
            <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between; margin-top: auto;">
                <a onclick="closeModal()" class="btn btn-success" style="font-size: 2rem;">Cancel</a>
                <form id="deleteForm" method="POST" action="{{ url_for('delete_order', order_id=order.id) }}">
                    <button style="font-size: 2rem;" type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <script>
    function closeModal() {
    var modal = document.getElementById('success-card');
    modal.style.display = 'none';
    }

    function openModal() {
        document.getElementById('confirmDeleteModal').style.display = 'flex';
    }

    function closeModal() {
        document.getElementById('confirmDeleteModal').style.display = 'none';
    }
    </script>

{% endblock %}