{% extends "layout.html" %}
{% block content %}
      <div class="magazinecontainer mt-4 ">
        <div class="magazinedescription card bg-secondary ">
            <h2>Magazine</h2>
            <p>Currently you have {{ total_products }} products in your magazine.</p>
        </div>

        
        <div class="searchconatiner">
            <form class="form-inline mb-4 searchform" action="{{ url_for('magazine') }}" method="GET">
                <div class="form-group searchbox">
                    <input type="text" class="form-control searchinput" id="search" name="search" placeholder="Search product...">
                </div>
                <button type="submit" class="btn btn-primary searchbutton" style="padding: 0.7rem; font-size: 2rem;">Search</button>
                <a href="{{ url_for('magazine') }}" class="btn btn-secondary searchbutton" style="padding: 0.7rem; font-size: 2rem;">Clear</a>
            </form>
        </div>


        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="tablerow">
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <div class="product-name">{{ product.name }}</div>
                        <div class="product-type">{{ product.category }}</div>
                    </td>
                    <td style="font-size: 1.7rem;" >{{ product.value }}</td>
                    <td style="font-size: 1.7rem;" >{{ product.price }} $</td>

                    <td > <div style="display: flex; flex-direction: row; gap: 1rem; margin-top: 1rem;">
                        <a style="font-size: 1.7rem;" type="button" class="btn btn-danger" onclick="openModal('{{ product.id }}')">Delete</a>
                        <a style="font-size: 1.7rem;"  href="" class="btn btn-primary btn-sm">Update</a>
                    </div>                   

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>

      <div id="confirmDeleteModal" class="card text-white bg-primary mb-3" style="height: 35vh; width: 30vw; display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050;">
        <div class="card-header" style="font-size: 1.4rem; display: flex; justify-content: space-between; align-items: center;">
            <span>Message</span>
            <button type="button" class="close" aria-label="Close" onclick="closeModal()" style="background: none; border: none; color: white; font-size: 1.6rem;">
                &times;
            </button>
        </div>
        <div class="card-body" style="padding: 2rem; display: flex; flex-direction: column; justify-content: space-between;">
            <div>
                <h4 class="card-title" style="font-size: 4.3rem;">Wait!</h4>
                <p class="card-text" style="font-size: 3rem;">Are you sure about deleting this product?</p>
            </div>
            <div class="buttons" style="display: flex; flex-direction: row; justify-content: space-between; margin-top: auto;">
                <a onclick="closeModal()" class="btn btn-success" style="font-size: 2rem;">Cancel</a>
                <button onclick="deleteProduct()" style="font-size: 2rem;" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    </div>


      
    <script>
        var productIdToDelete;
    
        function openModal(productId) {
            productIdToDelete = productId;
            document.getElementById('confirmDeleteModal').style.display = 'flex';
        }
    
        function closeModal() {
            document.getElementById('confirmDeleteModal').style.display = 'none';
        }
    
        function deleteProduct() {
            if (productIdToDelete) {
            
                fetch(`/delete_product/${productIdToDelete}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId: productIdToDelete })
                }).then(response => {
            
                    window.location.reload();
                }).catch(error => {
                    console.error('Error deleting product:', error);
                });
            }
        }
    </script>

{% endblock %}
